
<header class="flex justify-center items-center py-3 lg:px-36 w-full  max-w-screen-2xl min-w-screen-lg rounded-lg shadow m-5">   
    <nav class=" flex flex-row  gap-x-10 opacity-90">
        <a href="#inicio">Inicio</a>
        <a href="#experiencia">Exeriencia</a>
        <a href="#proyects">Proyectos</a>
        <a href="#contact">Contacto</a>
    </nav>
</header>